{% extends "base.html" %}
{% block title %}Doctors{% endblock title %}
{% block content %}
<h1 class="text-center">Our Doctors</h1>
<hr>
<div class="container p-3 my-3 text-center">
    {% for doctor in doct %}
    <div class="card text-center mx-3 my-3" style="width: 18rem; display: inline-block;">
        <img src="{{ doctor.doc_image.url }}" class="card-img-top" alt="doctor_image">
        <div class="card-body">
          <h5 class="card-title">Dr. {{ doctor.doc_name }}</h5>
          <p class="card-text">{{ doctor.dec_spec}}</p>
          <h6 class="card-text">{{ doctor.dep_name }} Department</h6>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
</div>
{% endfor %}
{% endblock content %}
